body{
	background: #DDA0DD;
}
div{
	
	justify-content: center;
	display: flex;
	align-items: center;
	
}
img{
	border-radius: 10px;
	margin-top:2px;
	margin-right:2px;
	margin-bottom:2px;
	margin-left:2px;
	
}
